* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Poppins', sans-serif;
    max-width: 1280px;
    margin: 0 auto;
    background-color: #a7c6df;
    color: #2c2c2c;
}

body.modo-escuro {
	background-color: #2d283b;
	color: #2c2c2c;}

header {
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 25px 100px;
}


header .logo, .imagem-botao {
    width: 45px; 
    cursor: pointer;
}

header #botao-alterar-tema {
    background: none;
    border: none;
}

header .logo:hover, 
header .imagem-botao:hover,
main .cartao-pokemon:hover {
    transform: scale(1.05);
    transition: 0.2s ease-in-out;
}

main {
    padding: 25px;
}

main .listagem-pokemon {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    padding: 15px;
}

main .cartao-pokemon {
    background-color: #e9eff3;
    width: 200px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.233);
    transition: 0.2s ease-in-out;
}

main .cartao-pokemon:hover {
    background-color: #a5f1ec;
}

main .cartao-pokemon .informacoes {
    background-color: #3bffff;
    display: flex;
    justify-content: space-between;
    border: 1px solid #333333;
    border-radius: 6px;
}

main .cartao-pokemon .informacoes span {
    padding: 5px;
    font-weight: bold;
    text-transform: uppercase;
}

main .cartao-pokemon .gif {
    width: 90px;
    height: 90px;
}

main .cartao-pokemon .tipos {
    display: flex;
    gap: 15px;
}

.tipo-grama {
    background-color: #7ac74c;
    padding: 8px;
    border-radius: 10px;
}

.tipo-veneno {
    background-color: #df67ddfb;
    padding: 8px;
    border-radius: 10px;
}

.tipo-fogo {
    background-color: #ee8130;
    padding: 8px;
    border-radius: 10px;
}

.tipo-agua {
    background-color: #23a9f7;
    padding: 8px;
    border-radius: 10px;
}

main .descricao {
    max-height: 100px;
    overflow-y: scroll;
    font-size: 15px;
    padding: 10px 10px 0px 0px;
}
